.landing {
    .header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 128px;
        display: flex;
        align-items: center;
        z-index: 1;

        &-brand {
            font-family: Comfortaa;
            font-size: 24px;
            color: black;
            font-weight: bold;
        }

        &-right {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        &-item {
            margin: 0 10px;
            font-family: PT Sans, Roboto, Helvetica, Arial, sans-serif;
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            color: black;
            font-weight: bold;
            letter-spacing: 1px;

            &__button {
                text-transform: uppercase;
                padding: 8px 30px;
                text-align: center;
                border-radius: 24px;
                transition: $transition-default;
                background-color: white;
                user-select: none;

                &-outline {
                    background-color: transparent;
                    border: 2px solid white;
                    color: white;
                }
            }
        }
    }

    .background {
        position: absolute;
        left: 0;
        right: 0;
        height: auto;
        z-index: 0;
        pointer-events: none;
        user-select: none;

        &-up {
            top: 0;
        }

        &-image {
            width: 100%;
            height: auto;
            animation: updown 2s infinite ease-in-out alternate;
        }
    }

    .slide {
        position: relative;
        width: 100%;
        height: 100vh;

        &-main {
            display: flex;
            align-items: center;
            padding: 128px 0;
        }

        &-features {
            height: auto;
            padding: 48px 0;
            text-align: center;

            &__about {
                margin-bottom: 50px;
            }

            .col-4 {
                margin-top: 20px;
                padding: 30px 20px;
                
                .feature {
                    height: 100%;
                    padding: 40px 20px 30px;
                    color: white;
                    box-shadow: 0 2px 8px rgba(0, 0, 0, .4);
                    border-radius: 20px;
                    transition: $transition-default;
                    cursor: pointer;

                    .fa {
                        transition: $transition-default;
                        font-size: 48px;
                        margin: 0 0 30px;
                    }
    
                    h3 {
                        margin: 0 0 20px;
                    }

                    p {
                        color: white;
                    }

                    &-safety {
                        background: linear-gradient(90deg, #11998e, #52c234);
                    }

                    &-interesting {
                        background: linear-gradient(90deg, #00B4DB, #0083B0);
                    }

                    &-support {
                        background: linear-gradient(90deg, #fc4a1a, #f7b733);
                    }

                    &:hover {
                        transform: translateY(-1px);
                        box-shadow: 0 4px 16px rgba(0, 0, 0, .5);

                        .fa {
                            transform: scale(1.3);
                        }
                    }
                }
            }
        }
    }
}

@keyframes updown {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-20px);
    }
}